{% load static %}
\<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-metrics</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body>
    <div class="wrapper product-page">
        <header class="header cabinet">
            <div class="container cabinet">
                <div class="header__inner">
                    <div class="header__left">
                        <div class="header__burger cabinet" id="cabinet-burger">
                            <span></span>
                        </div>
                        <a href="../.." class="header__logo cabinet">
                            <img src="{% static 'assets/imgs/Header-Logo.svg' %}" alt="Логотип" />
                        </a>
                        <div class="header__search">
                            <input class="header__input" type="text" placeholder="Поиск" />
                            <img class="header__search-ico" src="{% static 'assets/imgs/search.svg' %}" alt="Поиск" />
                        </div>
                    </div>

                    <div class="header__right">
                        <a href="#!" class="header__profile">
                            <img class="profile__photo" src="{% static 'assets/imgs/test.jpg' %}" alt="Профиль" />
                            <a href="#" class="profile__section">
                                <div class="profile__name">Антон Александров</div>
                                <img src="{% static 'assets/imgs/profile-arrow.svg' %}" alt="Стрелка" />
                            </a>
                        </a>
                        <a href="#!" class="profile__notification">
                            <img src="{% static 'assets/imgs/notifications.svg' %}" alt="Уведомления" />
                            <img class="header__search-ico" src="{% static 'assets/imgs/search.svg' %]" alt="Поиск" />
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main cabinet">
            <div class="product__inner">
                <div class="cabinet__sidebar">
                    <div class="sidebar__inner">
                        <div class="sidebar__section">
                            <div class="sidebar__title">Аналитика</div>
                            <ul class="sidebar__list">
                                <li class="sidebar__item">
                                    <a href="./products">
                                        <svg>
                                            <use xlink:href="sprite.svg#product"></use>
                                        </svg>
                                        <p>Товары</p>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="./categories">
                                        <svg>
                                            <use xlink:href="sprite.svg#category"></use>
                                        </svg>
                                        <p>Категории / Ниши</p>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="./sellers">
                                        <svg>
                                            <use xlink:href="sellers.svg#sellers"></use>
                                        </svg>
                                        <p>Продавцы</p>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="./brands">
                                        <svg>
                                            <use xlink:href="sellers.svg#brands"></use>
                                        </svg>
                                        <p>Бренды</p>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="./favorites">
                                        <svg class="none">
                                            <use xlink:href="favorite.svg#favorite"></use>
                                        </svg>
                                        <p>Избранное</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar__section">
                            <div class="sidebar__title">Поиск товаров</div>
                            <ul class="sidebar__list">
                                <li class="sidebar__item">
                                    <a href="./create-task">
                                        <svg class="none">
                                            <use xlink:href="favorite.svg#addTask"></use>
                                        </svg>
                                        <p>Создать таск</p>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="./taskview" class="active">
                                        <svg>
                                            <use xlink:href="viewTask.svg#viewTask"></use>
                                        </svg>
                                        <p>Просмотр тасков</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar__section support">
                            <li class="sidebar__item">
                                <a href="./support">
                                    <svg class="none stroke">
                                        <use xlink:href="viewTask.svg#support"></use>
                                    </svg>
                                    <p>Поддержка</p>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="cabinet__main">
                    <div class="container product-main">
                        <div class="products__title">
                            <div class="title__text">Просмотр тасков</div>
                            <div class="title__results">(найдено 1 результатов)</div>
                        </div>
                        <div class="support__buttons">
                            <button class="create__ticket" id="openModalBtn">
                                <p>Создать таск</p>
                            </button>
                            <div class="search__input">
                                <img src="{% static 'assets/imgs/search.svg' %}" alt="Поиск" />
                                <input class="filters__input" type="text" placeholder="Поиск" />
                            </div>
                        </div>
                        <div class="product__table task-table">
                            <div class="table__head">
                                <table>
                                    <thead>
                                        <th class="head__item">№</th>
                                        <th class="head__item">Название таска</th>
                                        <th class="head__item">Товар</th>
                                        <th class="head__item">Кол-во найденных товаров (шт)</th>
                                        <th class="head__item">Дата создания таска</th>
                                        <th class="head__item"></th>
                                    </thead>
                                </table>
                            </div>
                            <div class="table__main">
                                <table>
                                    <tbody>
                                        <tr class="table__row">
                                            <td class="row__item first">1</td>
                                            <td class="row__item">Какое-то очень интересное название таска, на которое
                                                мне не хватило фантазии</td>
                                            <td class="row__item">
                                                <div class="row__img">
                                                    <img src="{% static 'assets/imgs/product-table-img.jpg' %}" alt="" />
                                                </div>
                                                <a href="product-page" class="table__row-text">
                                                    <div class="table__item-title">
                                                        Трусы мужские, NIKE<br />
                                                        ORIGINAL COLLECTION
                                                    </div>
                                                    <div class="table__item-footer">
                                                        <div class="table__footer-rate">
                                                            <img src="{% static 'assets/imgs/table-rate.svg' %}" alt="" />
                                                            <p>5.0</p>
                                                            <span>8000 отзывов</span>
                                                        </div>
                                                        <div class="table__footer-serial">
                                                            <img src="{% static 'assets/imgs/serial-number.png' %}" alt="" />
                                                            <p>155317299</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="row__item">500</td>
                                            <td class="row__item">17.06.2023</td>
                                            <td class="row__item">
                                                <a href="#">
                                                    <img src="{% static 'assets/imgs/edit-task.png' %}" alt="">
                                                </a>
                                                <a href="#">
                                                    <img src="{% static 'assets/imgs/del-task.png' %}" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="table__row">
                                            <td class="row__item first">1</td>
                                            <td class="row__item">Какое-то очень интересное название таска, на которое
                                                мне не хватило фантазии</td>
                                            <td class="row__item">
                                                <div class="row__img">
                                                    <img src="{% static 'assets/imgs/product-table-img.jpg' %}" alt="" />
                                                </div>
                                                <a href="product-page" class="table__row-text">
                                                    <div class="table__item-title">
                                                        Трусы мужские, NIKE<br />
                                                        ORIGINAL COLLECTION
                                                    </div>
                                                    <div class="table__item-footer">
                                                        <div class="table__footer-rate">
                                                            <img src="{% static 'assets/imgs/table-rate.svg' %}" alt="" />
                                                            <p>5.0</p>
                                                            <span>8000 отзывов</span>
                                                        </div>
                                                        <div class="table__footer-serial">
                                                            <img src="{% static 'assets/imgs/serial-number.png' %}" alt="" />
                                                            <p>155317299</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="row__item">500</td>
                                            <td class="row__item">17.06.2023</td>
                                            <td class="row__item">
                                                <a href="#">
                                                    <img src="{% static 'assets/imgs/edit-task.png' %}" alt="">
                                                </a>
                                                <a href="#">
                                                    <img src="{% static 'assets/imgs/del-task.png' %}" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="table__row">
                                            <td class="row__item first">1</td>
                                            <td class="row__item">Какое-то очень интересное название таска, на которое
                                                мне не хватило фантазии</td>
                                            <td class="row__item">
                                                <div class="row__img">
                                                    <img src="{% static 'assets/imgs/product-table-img.jpg' %}" alt="" />
                                                </div>
                                                <a href="product-page" class="table__row-text">
                                                    <div class="table__item-title">
                                                        Трусы мужские, NIKE<br />
                                                        ORIGINAL COLLECTION
                                                    </div>
                                                    <div class="table__item-footer">
                                                        <div class="table__footer-rate">
                                                            <img src="{% static 'assets/imgs/table-rate.svg' %}" alt="" />
                                                            <p>5.0</p>
                                                            <span>8000 отзывов</span>
                                                        </div>
                                                        <div class="table__footer-serial">
                                                            <img src="{% static 'assets/imgs/serial-number.png' %}" alt="" />
                                                            <p>155317299</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="row__item">500</td>
                                            <td class="row__item">17.06.2023</td>
                                            <td class="row__item">
                                                <a href="#">
                                                    <img src="{% static 'assets/imgs/edit-task.png' %}" alt="">
                                                </a>
                                                <a href="#">
                                                    <img src="{% static 'assets/imgs/del-task.png' %}" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="closeModalBtn">&times;</span>
                            <div class="modal__title">Создание таска</div>
                            <div class="appeal__section">
                                <div class="modal__subtitle">Поиск товара:</div>
                                <div class="search__product">
                                    <input type="text" placeholder="Поиск по названию">
                                    <img src="assets/imgs/search.svg" alt="">
                                </div>
                            </div>
                            <div class="modal__subtitle">Выбор изображения:</div>
                            <div class="slide-container swiper">
                                <div class="slide-content">
                                    <ul class="slider-list swiper-wrapper">
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                        <li class="slider-item swiper-slide">
                                            <img src="assets/imgs/product-preview-01.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                            <div class="main__appeal task">
                                <div class="modal__subtitle">Название таска:</div>
                                <textarea
                                    placeholder="Подробное описание поможет нам ответить вам как можно скорее, без уточнения других деталей"></textarea>
                            </div>
                            <div class="modal__subtitle">Поставщик:</div>
                            <div class="modal__provider">
                                <div class="provide__item">
                                    <img src="assets/imgs/provide1.png" alt="">
                                </div>
                                <div class="provide__item">
                                    <img src="assets/imgs/provide2.png" alt="">
                                </div>
                            </div>
                            <li class="category__item modal-check">
                                <p class="item__name">Искать только с пробной партией</p>
                            </li>
                            <button class="modal__btn">
                                <p>Создать таск</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="javascript/taskview.js"></script>
</body>

</html>